*{
   color: blue;
   background-color:#a3a3a3;

}


p{
    background-color:blueviolet;

}
div{
    display:flex;
    background-color:#fff;
    justify-content: center;
    align-content:center;
    border-radius:center;

}